.menu {
    text-align: center;
    margin-top: 20px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu-link {
    text-decoration: none;
    color: #0D3251;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .menu-link:hover {
    background-color: #f0f0f0;
  }
  